<!DOCTYPE html>
<html lang="en">
<head>
  <title>Search Application Status</title>
  <link href="/static/css/style.css" th:href="@{/css/style-search.css}" rel="stylesheet">
  <script th:src="@{/javascript/main.js}"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
  <h2 align="center">Search Application Status</h2>
  <form th:action="@{/search}"  method="post">
    <input type="text" name="emailKeyword" th:value="${emailKeyword}"  placeholder="Enter Email" size="50" >

    <div class="button">
      <input type="submit" value="Submit">
    </div>
    <div class="message-box">
      <span th:utext="${message}"></span>
    </div>
</body>
</html>